.board_cell {
  width: auto;
  /* border-radius: 6px; */
  position: relative;
}

.tetromino {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino .sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino.ghost .sparkle {
  opacity: 0;
}

.tetromino__i {
  background-color: #b9fbc0;
}
.tetromino__j {
  background-color: #f1c0e8;
}
.tetromino__l {
  background-color: #cfbaf0;
}
.tetromino__o {
  background-color: #a3c4f3;
}
.tetromino__s {
  background-color: #90dbf4;
}
.tetromino__t {
  background-color: #8eecf5;
}
.tetromino__z {
  background-color: #98f5e1;
}
