.board_cell {
  width: auto;
  /* border-radius: 6px; */
  position: relative;
}

.tetromino {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino.sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
}

.tetromino.dark.sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino.ghost.dark {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino.ghost.sparkle {
  opacity: 0;
}

.tetromino__i {
  background-color: #ff0000;
}
.tetromino__j {
  background-color: #ff8700;
}
.tetromino__l {
  background-color: #deff0a;
}
.tetromino__o {
  background-color: #a1ff0a;
}
.tetromino__s {
  background-color: #0aff99;
}
.tetromino__t {
  background-color: #be0aff;
}
.tetromino__z {
  background-color: #0aefff;
}

.tetromino__i.dark {
  background-color: #eeeeee;
}
.tetromino__j.dark {
  background-color: #dddddd;
}
.tetromino__l.dark {
  background-color: black;
}
.tetromino__o.dark {
  background-color: #cccccc;
}
.tetromino__s.dark {
  background-color: #bbbbbb;
}
.tetromino__t.dark {
  background-color: #a3a3a3;
}
.tetromino__z.dark {
  background-color: white;
}
