.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  z-index: 100;
}

.button {
  padding: 25px 80px;
  font-size: 2em;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #ffba08;
}

.logo {
  height: 50px;
}
