.board {
  margin: 2em auto;
  display: grid;
  grid-gap: 2px;
  width: 45vw;
  height: 90vw;
  background: #03071e;
  border: 10px solid #370617;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
