.board {
  margin: 2em auto;
  display: grid;
  grid-gap: 2px;
  width: 45vh;
  height: 90vh;
  background: #580aff;
  border: 10px solid #ffd300;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
