.preview {
  position: absolute;
  top: 0;
  left: 72.2vw;
  background: #03071e;
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.preview_board {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 11vw;
  height: 11vw;
  background-color: #03071e;
  border-radius: 10px;
  padding: 5px;
}
