.preview {
  margin-top: 2em;
  margin-left: 2em;
  top: 0;
  left: 72.2vw;
  border: 10px solid black;
  border-radius: 10px;
}

.preview_board {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 8vw;
  height: 8vw;
  /* background-color: #580aff; */
  border-radius: 10px;
  padding: 5px;
}
