.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.board_size {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 130px;
  border: solid;
  border-color: white;
  padding: 10px;
  margin: 10px;
}

.size_adjust {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.size {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.add {
  cursor: pointer;
  font-size: 35px;
  border: solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  cursor: pointer;
  font-size: 35px;
  border: solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  cursor: pointer;
  margin-bottom: 10px;
}

.mode {
  width: 200px;
  height: 130px;
  border: solid;
  border-color: white;
  padding: 10px;
  margin: 10px;
}

.mode_switch {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
}

.reverse {
  width: 200px;
  height: 130px;
  border: solid;
  border-color: white;
  padding: 10px;
  margin: 10px;
}
